@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@1..1000&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-IBM: "Google Sans Flex", sans-serif;
  --font-Poppins: "Google Sans Flex", sans-serif;
  --font-sans: "Google Sans Flex", sans-serif;
  --font-SansFlex: "Google Sans Flex", sans-serif;
  --font-sansFlex: "Google Sans Flex", sans-serif;
  --shadow-custom: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 12px !important;
  font-weight: 700 !important;
  font-family: "Google Sans Flex", sans-serif !important;
  color: #7c7e81 !important;
  text-shadow: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-tiny::-webkit-scrollbar {
  width: 0.8px;
  height: 1px;
}

.scrollbar-tiny::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollbar-tiny::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.scrollbar-tiny::-webkit-scrollbar-track {
  background: transparent;
}

.schedule-container {
  text-transform: capitalize;
}

.custom-dialog-overlay {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

.fc-toolbar-title {
  text-transform: uppercase;
}

.fc-toolbar button {
  text-transform: uppercase;
}

.fc-toolbar-chunk button {
  text-transform: uppercase;
}

.p-toast {
  font-family: "Google Sans Flex", sans-serif;
}

.checkinput-switch.p-inputswitch.p-inputswitch-checked {
  background-color: #4caf50 !important;
}

.checkinput-switch.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: #ffffff !important;
}

.checkinput-switch.p-inputswitch {
  background-color: #cccccc !important;
}

.checkinput-switch.p-inputswitch .p-inputswitch-slider {
  background-color: #ffffff !important;
}

.checkinput-switch.p-inputswitch:hover {
  background-color: #bbbbbb !important;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: #1373e6;
}

#preloader {
  background: var(--background);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1200;
  overflow: hidden;
}

#preloader h1 {
  cursor: default;
  color: var(--foreground);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  width: 400px;
  left: 0px;
  right: 0px;
  margin-top: 50vh;
  margin-bottom: 0px;
  text-align: center;
  animation-name: loader_line;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  background-color: color-mix(in oklch, var(--foreground), transparent 70%);
  background-image: linear-gradient(
    to right,
    var(--foreground) 0,
    var(--foreground) 50%,
    transparent 50%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
}

#preloader_line {
  display: block;
  height: 1px;
  width: 250px;
  margin: 0 auto;
  animation-name: loader_line;
  animation-duration: 7s;
  background: linear-gradient(
      to left,
      var(--border) 50%,
      var(--foreground) 50%
    )
    0 0/200% 100% var(--background);
}

img.animate__animated.animate__slideInUp {
  animation-delay: 6.5s;
}

@keyframes loader_line {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: 0% 0;
  }
}

.p-dialog-content::-webkit-scrollbar {
  display: none;
}

.p-dialog-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Toastify__toast-container {
  z-index: 9999;
  /* Set your desired z-index */
}

body {
  font-family: "Google Sans Flex", sans-serif !important;
}

html {
  font-family: "Google Sans Flex", sans-serif !important;
}

.Toastify__toast {
  font-family: "Google Sans Flex", sans-serif !important;
}

@layer base {
  .theme {
    --font-heading: "Google Sans Flex", sans-serif;
    --font-sans: "Google Sans Flex", sans-serif;
  }
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 2.5rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: #03a835;
    --chart-2: #17954c;
    --chart-3: #31bc86;
    --chart-4: #73d79c;
    --chart-5: #b6efc9;
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply font-sans;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
  .maplibregl-ctrl-attrib {
    @apply bg-background! text-muted-foreground! border-border! rounded-md! border! shadow-sm!;
  }
  .maplibregl-ctrl-attrib a {
    @apply text-muted-foreground!;
  }
  .maplibregl-ctrl-attrib a:hover {
    @apply text-foreground!;
  }
  .maplibregl-ctrl-attrib-button {
    @apply bg-transparent! dark:invert;
  }
}