@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 12px !important;
  font-weight: 700 !important;
  font-family: "IBM Plex Sans" !important;
  color: #7c7e81 !important;
  text-shadow: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.schedule-container {
  text-transform: capitalize;
}

.custom-dialog-overlay {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

.fc-toolbar-title {
  text-transform: uppercase;
}

.fc-toolbar button {
  text-transform: uppercase;
}

.fc-toolbar-chunk button {
  text-transform: uppercase;
}

.p-toast {
  font-family: "IBM Plex Sans", sans-serif;
}

.checkinput-switch.p-inputswitch.p-inputswitch-checked {
  background-color: #4caf50 !important;
}

.checkinput-switch.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: #ffffff !important;
}

.checkinput-switch.p-inputswitch {
  background-color: #cccccc !important;
}

.checkinput-switch.p-inputswitch .p-inputswitch-slider {
  background-color: #ffffff !important;
}

.checkinput-switch.p-inputswitch:hover {
  background-color: #bbbbbb !important;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: #1373e6;
}

#preloader {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1200;
  overflow: hidden;
}

img.animate__animated.animate__slideInUp {
  animation-delay: 6.5s;
}

#preloader h1 {
  cursor: default;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  width: 400px;
  left: 0px;
  right: 0px;
  margin-top: 50vh;
  margin-bottom: 0px;
  text-align: center;
  animation-name: loader_line;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-linear-gradient(
    left,
    #ffffff 0,
    #ffffff 50%,
    transparent 50%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
}
#preloader_line {
  display: block;
  height: 1px;
  width: 250px;
  margin: 0 auto;
  animation-name: loader_line;
  animation-duration: 7s;
  background: linear-gradient(to left, #ccc 50%, #000000 50%) 0 0/200% 100%
    #ffffff;
}

@keyframes loader_line {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0% 0;
  }
}

.p-dialog-content::-webkit-scrollbar {
  display: none;
}

.p-dialog-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
