@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.schedule-container {
  text-transform: capitalize;
}

.custom-dialog-overlay {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

.fc-toolbar-title {
  text-transform: uppercase;
}

.fc-toolbar button {
  text-transform: uppercase;
}

.fc-toolbar-chunk button {
  text-transform: uppercase;
}

.p-toast {
  font-family: "IBM Plex Sans", sans-serif;
}

/* Custom styles for InputSwitch in CheckInput */
.checkinput-switch.p-inputswitch.p-inputswitch-checked {
  background-color: #4caf50 !important; /* Custom ON state color */
}

.checkinput-switch.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: #ffffff !important; /* Thumb color when ON */
}

.checkinput-switch.p-inputswitch {
  background-color: #cccccc !important; /* OFF state background color */
}

.checkinput-switch.p-inputswitch .p-inputswitch-slider {
  background-color: #ffffff !important; /* Thumb color when OFF */
}

.checkinput-switch.p-inputswitch:hover {
  background-color: #bbbbbb !important; /* Optional hover effect */
}
